#nav {
	display: flex;
	height: 150px;
}

.title {
	color: #cee5ef;
	font-weight: bold;
	font-size: 35px;
	width: 400px;
	height: 100px;
	margin: 50px;
	transform: rotate(-35deg)
}

.addtodo {
	font-weight:bold;
	font-size:15px;
	margin: 50px;
	margin-left: 790px;
	width: 200px;
	height: 50px;
	line-height: 50px;
	background: #03A9F4;
	color: white;
	text-align: center;

}

#section {
	display: flex;
	margin-left: 180px;
}

.main-title {
	margin: 10px;
	width: 400px;
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	background: #2e657f;
	width: 400px;
	padding-left: 20px;
}

.main-contents {
	margin: 10px;
	height: 60px;
	background: #cee5ef;
	width: 400px;
	padding-left: 20px;
	padding-top:10px;
	padding-bottom:10px;
	
}

.main-contents-title {
	color: black;
	font-weight: bold;
	font-size: 30px;
	width: 400px;
	height: 30px;
	line-height: 30px;
}

.main-contents-contents {
	color: black;
	float: left;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
}

input[type=button] { 
	float:right;
	margin-right:30px;
	margin-top: 5px;
	}
	
	
	
	
	
